body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #2c3e50, #4ca1af);
}

.calendar-container {
  padding: 20px;
  background: white;
  margin: 30px auto;
  width: 90%;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* THIS FIXES MOST ISSUES */
}

.modal {
  background: white;
  padding: 20px;
  width: 320px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.modal-header {
  display: flex;
}

.modal h3 {
  margin-top: 0;

}

.modal input {
  width: 90%;
  padding: 8px;
  margin: 5px 0px 20px 0px;
}

/* Buttons */
.modal-buttons {
  display: flex;
  gap: 5px;
  align-items: end;
  /* justify-content: space-between; */
}

.save-btn {
  background-color: #2c3e50;
  color: white;
  height: 30px;
  width: 60px;
}

.cancel-btn {
  background-color: #2c3e50;
  color: white;
  height: 30px;
  width: 60px;
}

.custom-event {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  color: #2c3e50;
}

.custom-event input {
  cursor: pointer;
}

.completed-text {
  text-decoration: line-through;
  color: gray;
}

.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
}

.fc-event {
  background: #e8eaec !important;
  border: none !important;
  padding: 2px !important;
}

/* Allow event text to wrap properly */
.fc-daygrid-event {
  white-space: normal !important;
}

.fc-event-title {
  white-space: normal !important;
  word-break: break-word !important;
  overflow-wrap: break-word !important;
}

/* Make event container flexible */
.custom-event {
  display: flex;
  align-items: flex-start;
  gap: 4px;
  font-size: 12px;
  flex-wrap: wrap;
}

.fc-daygrid-day-frame {
  overflow: hidden !important;
}

.fc-daygrid-day-events {
  max-height: 100px;
  overflow-y: auto;
}